

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.map-frame {
  border: 2px solid black;
  height: 640px;
  width: 100%;
  margin: 25px;
}

#map {
  height: 100%;
}
.heading {
  color: #8B89E6;
  padding: 10px 20px 0 20px;
}


details div{
  font-size: 12px;
  text-align: justify;
}

